

h1 {
  text-align:center;
}
.row {
  
  
}
.container-fluid{
 

}

.content {
  width:30%;
  display:block;
  border: 2px solid black;
  margin:10px;
  top: 50px;
  margin-bottom: 15px;
  float:left;
  background-color: #B3B3B3;
  clear:right;
  
}
#chicken, #beef, #sushi{
  background-color: #FF00FF;
  color:#000000;
  display: inline-block;
  float:right;
  padding:5px;
  margin:auto;
  text-align:center;
  
  
}
p {
  padding: 3px;
  margin:auto;
  width: 100%;
  color: #0000FF;
  
  
      
}

h2  {
  border:2px solid black;
  margin-bottom: 15px;

  
}

#beef {
  background-color: #FF0000;
  color:#FFFFFF;
  position:relative;
  
}
#sushi {
  background-color: #FFFF00;
  color:#000000;
  position:relative;

}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 

background-color: #FF0000;
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
background-color: #0000FF; 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
background-color: #FFFF00;

 }
