

h1 {
  text-align:center;
}

.content {
  width:30%;
  display:inline;
  border: 2px solid black;
  margin:10px;
  float:left;
  margin-bottom: 15px;
  
  

}
#chicken, #beef, #sushi{
  background-color: #FF00FF;
  color:#000000;
  display: inline;
  float:right;
  padding:5px;
  margin:auto;
  text-align:center;
  
}
p {
  padding: 3px;
  margin:auto;
  display:inline-block;
  width: 100%;

      
}

h2  {
  border:2px solid black;
  margin-bottom: 15px;
  

  
}

#beef {
  background-color: #FF0000;
  color:#FFFFFF;
  
  
}
#sushi {
  background-color: #FFFF00;
  color:#000000;
  position:relative;
  
  
  

}

/* stack all grids below 40em (640px) */
@media all and (max-width: 35em) {
	.my-breakpoint .ui-block-a,
	.my-breakpoint .ui-block-b,
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e {
		width: 100%;
		float: none;
	}
}
