* {
  box-sizing: border-box; }

h1{
  text-align:center;
  border: 2px solid black;
}
h2 {
  border:2px solid #000000;
  position:relative;
  top:-20px;
  
}


.content {
  width:30%;
  display:inline-block;
  float:left;
  margin:15px;
  text-align:right;
  border:2px solid #000000;
  position:relative;
  top:30px;
  background:#B3B3B3;
}
  
p{
  position:relative;
  top:-20px;
  text-align:left;
  background:#B3B3B3;
}

#chicken{
  
  text-align:center;
  background:#FF00CC;
}
    
  

#beef{
  
  text-align:center;
  color:#FFFFFF;
  background:#FF0000;
}
#sushi{
  
  text-align:center;
  background:#FFFF00;
}
