* {
  box-sizing: border-box; }

h1{
  text-align:center;
}
h2 {
  border:2px solid #000000;
  position:relative;
  top:-20px;
  padding:15px;
}


.content {
  width:30%;
  display:inline-block;
  float:left;
  margin:15px;
  text-align:right;
  border:2px solid #000000;
  position:relative;
  top:30px;
  background:#B3B3B3;
}
  
p{
  position:relative;
  top:-20px;
  text-align:left;
  background:#B3B3B3;
  padding:15px;
}

#chicken{
  position:absolute;
  border: 2px solid #000000;
  text-align:right;
  background:#FF00CC;
  display: inline-block;

}
    
  

#beef{
  position:absolute;
  border: 2px solid #000000;
  text-align:right;
  color:#FFFFFF;
  background:#FF0000;
  display: inline-block;
}
#sushi{
  position:absolute;
  border: 2px solid #000000;
  text-align:right;
  background:#FFFF00;
  display: inline-block;
}
